[Unit]
Description=Minecraft server %i
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/minecraft-servers/
User=minecraft
Group=minecraft

ExecStart=/usr/bin/mccli run %i --keep-alive
ExecStop=/usr/bin/tmux send-keys -t mc-%i:0.0 'say Saving and shutting down.' ENTER 'save-all' ENTER 'stop' ENTER

[Install]
WantedBy=multi-user.target