[Unit]
Description=Minecraft server %i
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/minecraft-servers/

ExecStart=mccli runner %i --tmux

[Install]
WantedBy=default.target
