[Unit]
Description=Minecraft server %i
After=network.target

[Service]
ExecStart=mccli runner %i --tmux
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target

